<!DOCTYPE html>
<html>
<head>
    <title>Easy Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-
    BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="menu-plegable.js"></script>

</head>

<body>
  <div class="container-fluid">

    <!-- Header -->
    <div class="row header">
      <div class="col">
        <button style="background-color:#72bb53; color: white; border:none" onclick="location.href='index.html'">
          <h1 style="display: inline;">Easy Travel</h1>
        </button>
        <!-- Horizontal navigation bar -->
        <nav id="horizontal-nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="vols.html">Vols</a></li>
            <li><a href="hotels.html">Hotels</a></li>
            <li><a href="activitats_itinerari.html">Activitats + Itinerari</a></li>
            <li><a href="informacio_viatge.html">Informació del teu viatge</a></li>
            <li><a href="valorar_itinerari.html" class="active">Valora itineraris</a></li>
          </ul>
        </nav>
        <div id="menu">
          <!-- Hamburguer menu icon -->
          <a href="#" id="menu-link" onclick="toggleMenu();"><i></i></a>
        </div>
        <!-- Horizontal navigation bar -->
        <nav id="block-nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="vols.html">Vols</a></li>
            <li><a href="hotels.html">Hotels</a></li>
            <li><a href="activitats_itinerari.html">Activitats + Itinerari</a></li>
            <li><a href="informacio_viatge.html">Informació del teu viatge</a></li>
            <li><a href="valorar_itinerari.html" class="active">Valora itineraris</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <div class="row">
    
      <div class="col-md" style = "display: flex; flex-direction: column;">
        <div style =  "padding-top: 15px; padding-left: 15px;">
            <button class = "botoItinerari">
                Publica el teu itinerari
            </button>
        </div>
        <div class = "itinerari_exposition">
            <div class = "itinerari_exposed" id = "itinerari_exposed 1">
                <h4>Cristina</h4>
                <p>París, 3 dies</p>
                <div id ="appParis1" class="itinerary" style="display: flex; flex-direction: column; margin:5px">
                  <div v-for="day in days" :key="day">
                      <div class="day" :data-day-id="day" >
                          <h4>Dia {{day}}</h4>
                          <div class="activity-list">
                              <span v-if="!itinerary[day] || itinerary[day].length === 0">Selecciona una activitat per aquest dia</span>
                              <div v-else>
                                  <div v-for="(activity, index) in itinerary[day]" :key="index + activity.name" class="activityItinerari">
                                    <p style="margin-right: 30px; bottom: 2px">{{ activity.name }}</p>
                                    <button  @click="showPopUp(activity)" class="button_info">
                                      <img src="./imagenes/info_icon.png" alt="More Info" class="more_info_icon" style="width: 20px; height:auto;">
                                    </button>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button id="import-button" class="botoItinerari" @click="import_itinerary()">Importar itinerari</button>
                </div>
                <button class = "like_button" id = "like-button-1" onclick="handleLikeClick(1)" alt="like">
                    <img src="imagenes/white-heart.png" alt="Like">
                </button>
                <div id="like-counter-1">3004 likes</div>
            </div>
            <div class = "itinerari_exposed" id = "itinerari_exposed 2">
                <h4>Manuel</h4>
                <p>París, 3 dies</p>
                <div id ="appParis2" class="itinerary" style="display: flex; flex-direction: column; margin:5px">
                  <div v-for="day in days" :key="day">
                      <div class="day" :data-day-id="day" >
                          <h4>Dia {{day}}</h4>
                          <div class="activity-list">
                              <span v-if="!itinerary[day] || itinerary[day].length === 0">Selecciona una activitat per aquest dia</span>
                              <div v-else>
                                  <div v-for="(activity, index) in itinerary[day]" :key="index + activity.name" class="activityItinerari">
                                    <p style="margin-right: 30px; bottom: 2px">{{ activity.name }}</p>
                                    <button  @click="showPopUp(activity)" class="button_info">
                                      <img src="./imagenes/info_icon.png" alt="More Info" class="more_info_icon" style="width: 20px; height:auto;">
                                    </button>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button id="import-button" class="botoItinerari" @click="import_itinerary()">Importar itinerari</button>
                </div>
                <button class = "like_button" id = "like-button-2" onclick="handleLikeClick(2)" alt="like">
                    <img src="imagenes/white-heart.png" alt="Like">
                </button>
                <div id="like-counter-2">321 likes</div>
            </div>
        </div>
      </div>

      
      
    </div>
    
  </div>

  <div class="popup" id="popup">
    <h2 id = "pop_up_activity_name" class = "activity_title"></h2>
    <button class="close-activity" onclick="closePopUp()">X</button>
    <div class = "container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img id = "pop_up_image_activity" class = "img-fluid" src="imagenes\disneyland.jpg" alt="disneyland">
        </div>
        <div class="col-md-8" style = "text-align: left; padding: 2px;">
          <p class="apartats_pop_up">Horaris</p>
          <p id = "pop_up_horaris_activity"></p>
          <p class="apartats_pop_up">Localització</p>
          <p id = "pop_up_localitzacio_activity"></p>
          <p class="apartats_pop_up">Preu</p>
          <p id = "pop_up_preu_activity"></p>
          <p class="apartats_pop_up">Descripció</p>
          <p id = "pop_up_descripcio_activity"></p>
        </div>
      </div>
    </div> 
  </div>
    
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    const likeCounts = [3004, 321, 567];
    const likeCounterElements = [
        document.getElementById('like-counter-1'),
        document.getElementById('like-counter-2'),
        document.getElementById('like-counter-3'),
    ];
    const likedButtons = [];

    function handleLikeClick(buttonIndex) {
      const buttonElement = document.getElementById(`like-button-${buttonIndex}`);
      
      if (likedButtons.includes(buttonIndex)) {
      // Decrease like count if button has already been liked
      likeCounts[buttonIndex - 1]--;
      likedButtons.splice(likedButtons.indexOf(buttonIndex), 1);
      
      // Change heart color to white
      buttonElement.classList.remove('liked');
      } else {
      // Increase like count if button hasn't been liked
      likeCounts[buttonIndex - 1]++;
      likedButtons.push(buttonIndex);
      
      // Change heart color to red
      buttonElement.classList.add('liked');
      }

      // Update like counter
      likeCounterElements[buttonIndex - 1].innerText = `${likeCounts[buttonIndex - 1]} ${likeCounts[buttonIndex - 1] === 1 ? 'like' : 'likes'}`;
  }
  </script>
  <script>
  new Vue({
      el: '#appParis1',
      data: {
        activities: [
              { id: 1, name: 'Arc de Triomf', image: './imagenes/arc_triomf.jpg', days: [], selectedDay: '', onclick: '', description: 'L\'Arc de Triomf és un monument icònic a París que simbolitza la victòria.', hours: 'Obert tots els dies de 10:00 a.m. a 6:30 p.m.', location: 'Place Charles de Gaulle, 75008 París, França.', price: 'Entrada gratuïta.' },
              { id: 2, name: 'Torre Eiffel', image: './imagenes/torre.jpg', days: [], selectedDay: '', onclick: '', description: 'La Torre Eiffel és un dels monuments més famosos del món i un símbol emblemàtic de París.', hours: 'Oberta tots els dies de 9:00 a.m. a 12:00 a.m.', location: 'Champ de Mars, 5 Avenue Anatole France, 75007 París, França.', price: 'Varia segons l\'accés i les activitats.' },
              { id: 3, name: 'Tour per París', image:'./imagenes/tour_paris.jpg', days: [], selectedDay: '', onclick:'', description: 'Descobreix París amb un tour complet que et portarà als llocs més emblemàtics de la ciutat.', hours: 'Obert tots els dies de 9:00 a.m a 19:00 a.m', location: 'Station de baiser entre croissant et baguette.', price: '50 € per persona.' },
              { id: 4, name: 'Esmorzar en casa di Mamma', image:'./imagenes/esmorzar.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiu d\'un deliciós esmorzar francès a Casa di Mamma, un acollidor restaurant al cor de París.', hours: 'Obert tots els dies de 8:00 a.m. a 11:00 a.m.', location: 'Rue de Rivoli, 75001 París, França.', price: '12 € per persona.' },
              { id: 5, name: 'Disneyland París', image:'./imagenes/disneyland.jpg', days: [], selectedDay: '', onclick:'', description: 'Visita el màgic món de Disneyland París i gaudeix d\'atraccions emocionants, espectacles i trobades amb personatges famosos.', hours: 'Obert tots els dies de 10:00 a.m. a 8:00 p.m.', location: 'Boulevard de Parc, 77700 Coupvray, França.', price: 'Varia segons el tipus d\'entrada i el paquet seleccionat.' },
              { id: 6, name: 'El museu de Louvre', image:'./imagenes/louvre.jpg', days: [], selectedDay: '', onclick:'', description: 'Explora les meravelles artístiques i culturals del museu de Louvre, que alberga una de les col·leccions d\'art més importants del món.', hours: 'Obert de 9:00 a.m. a 6:00 p.m.', location: 'Rue de Rivoli, 75001 París, França.', price: '17 € per persona.' },
              { id: 7, name: 'Catedral de Notre-Dame', image:'./imagenes/notre-dame.jpg', days: [], selectedDay: '', onclick:'', description: 'Visita la magnífica catedral de Notre-Dame, un exemple destacat de l\'arquitectura gòtica.', hours: 'Oberta tots els dies de 8:00 a.m. a 6:45 p.m.', location: '6 Parvis Notre-Dame - Pl. Jean-Paul II, 75004 París, França.', price: 'Entrada gratuïta.' },
              { id: 8, name: 'El jardí de Luxembourg', image:'./imagenes/luxembourg_garden.jpg', days: [], selectedDay: '', onclick:'', description: 'Relaxa\'t en aquest bell parc públic, conegut pels seus jardins immaculats, estanys i estàtues.', hours: 'Obert tots els dies de 7:30 a.m. a 9:30 p.m.', location: 'Rue de Médicis, 75006 París, França.', price: 'Entrada gratuïta.' },
              { id: 9, name: "Restaurant L'Ambroisie", image:'./imagenes/ambroisie.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiràs d\'una experiència culinària excepcional en aquest prestigiós restaurant amb tres estrelles Michelin.', hours: 'Obert de dimarts a dissabte de 12:00 p.m. a 2:00 p.m. i de 7:00 p.m. a 10:00 p.m.', location: '9 Place des Vosges, 75004 París, França.', price: 'Varia segons el menú seleccionat.' },
              { id: 10, name: 'Castell de Versalles', image:'./imagenes/versalles.jpg', days: [], selectedDay: '', onclick:'', description: 'Explora la grandiositat del Castell de Versalles, una antiga residència real amb uns jardins impressionants.', hours: 'Obert tots els dies de 9:00 a.m. a 6:30 p.m.', location: 'Place d\'Armes, 78000 Versalles, França.', price: '20 € per persona.' },
              { id: 11, name: 'Llibreria Shakespeare and Company', image:'./imagenes/library.jpg', days: [], selectedDay: '', onclick:'', description: 'Perdeu-vos entre les parets plenes de llibres d\'aquesta icònica llibreria anglesa a París.', hours: 'Oberta tots els dies de 10:00 a.m. a 11:00 p.m.', location: '37 Rue de la Bûcherie, 75005 París, França.', price: 'Entrada gratuïta.' },
              { id: 12, name: 'Fira de Sant Ouen', image:'./imagenes/fira.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudeix de l\'ambient animat i troba tresors únics en aquesta fira de Sant Ouen, el mercat de puces més gran del món.', hours: 'Oberta els dissabtes i diumenges de 9:00 a.m. a 6:00 p.m.', location: 'Avenue de la Porte de Clignancourt, 93400 Sant Ouen, França.', price: 'Entrada gratuïta.' }
  
          ],
          days: [1, 2, 3],
          itinerary: {1:[{ id: 1, name: 'Arc de Triomf', image: './imagenes/arc_triomf.jpg', days: [], selectedDay: '', onclick: '', description: 'L\'Arc de Triomf és un monument icònic a París que simbolitza la victòria.', hours: 'Obert tots els dies de 10:00 a.m. a 6:30 p.m.', location: 'Place Charles de Gaulle, 75008 París, França.', price: 'Entrada gratuïta.' },
              { id: 6, name: 'El museu de Louvre', image:'./imagenes/louvre.jpg', days: [], selectedDay: '', onclick:'', description: 'Explora les meravelles artístiques i culturals del museu de Louvre, que alberga una de les col·leccions d\'art més importants del món.', hours: 'Obert de 9:00 a.m. a 6:00 p.m.', location: 'Rue de Rivoli, 75001 París, França.', price: 'Preu: 17 € per persona.' },   
              ],
              2:[{ id: 4, name: 'Esmorzar en casa di Mamma', image:'./imagenes/esmorzar.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiu d\'un deliciós esmorzar francès a Casa di Mamma, un acollidor restaurant al cor de París.', hours: 'Obert tots els dies de 8:00 a.m. a 11:00 a.m.', location: 'Rue de Rivoli, 75001 París, França.', price: 'Preu: 12 € per persona.' },
              { id: 8, name: 'El jardí de Luxembourg', image:'./imagenes/luxembourg_garden.jpg', days: [], selectedDay: '', onclick:'', description: 'Relaxa\'t en aquest bell parc públic, conegut pels seus jardins immaculats, estanys i estàtues.', hours: 'Obert tots els dies de 7:30 a.m. a 9:30 p.m.', location: 'Rue de Médicis, 75006 París, França.', price: 'Entrada gratuïta.' },
              { id: 9, name: "Restaurant L'Ambroisie", image:'./imagenes/ambroisie.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiràs d\'una experiència culinària excepcional en aquest prestigiós restaurant amb tres estrelles Michelin.', hours: 'Obert de dimarts a dissabte de 12:00 p.m. a 2:00 p.m. i de 7:00 p.m. a 10:00 p.m.', location: '9 Place des Vosges, 75004 París, França.', price: 'Preu: Varia segons el menú seleccionat.' },
              ],
              3:[{ id: 11, name: 'Llibreria Shakespeare and Company', image:'./imagenes/library.jpg', days: [], selectedDay: '', onclick:'', description: 'Perdeu-vos entre les parets plenes de llibres d\'aquesta icònica llibreria anglesa a París.', hours: 'Oberta tots els dies de 10:00 a.m. a 11:00 p.m.', location: '37 Rue de la Bûcherie, 75005 París, França.', price: 'Entrada gratuïta.' },
              { id: 12, name: 'Fira de Sant Ouen', image:'./imagenes/fira.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudeix de l\'ambient animat i troba tresors únics en aquesta fira de Sant Ouen, el mercat de puces més gran del món.', hours: 'Oberta els dissabtes i diumenges de 9:00 a.m. a 6:00 p.m.', location: 'Avenue de la Porte de Clignancourt, 93400 Sant Ouen, França.', price: 'Entrada gratuïta.' }
              ]
          }
      },
      methods: {
        updateActivity(activity) {
          if (activity.selectedDay !== '') {
            const day = parseInt(activity.selectedDay);
            if (!this.itinerary[day]) {
              this.$set(this.itinerary, day, [activity]); // Update the itinerary object
              activity.days.push(day);
            } else {
              const index = this.itinerary[day].indexOf(activity);
              if (index === -1) {
                this.itinerary[day].push(activity);
                activity.days.push(day);
              }
            }
            activity.selectedDay = '';
          }
        },
        redirectToPage(page) {
          // Redirect to the specified page
          window.location.href = page;
        },

        removeActivity(day, activity) {
          const index = this.itinerary[day].indexOf(activity);
          if (index > -1) {
            this.itinerary[day].splice(index, 1);
            this.$set(this.itinerary, day, this.itinerary[day]); // Update the itinerary object
          }

          const dayIndex = activity.days.indexOf(day);
          if (dayIndex > -1) {
            activity.days.splice(dayIndex, 1);
          }

        
        },
        recuperarItinerari(){
          this.$set(this.itinerary, 1, [this.activities[2],this.activities[9],this.activities[10]]);
          this.$set(this.itinerary, 2, [this.activities[3],this.activities[11]]);
          this.$set(this.itinerary, 3, [this.activities[4]]);
        },
        import_itinerary(){
          storeObject("itinerary", this.itinerary);
          window.location.href = "./activitats_itinerari.html"
        },
        showPopUp(activity) {
          // Get the popup element and display it
          var popup = document.getElementById("popup");
          popup.style.display = "block";

          var activity_name = document.getElementById("pop_up_activity_name");
          activity_name.innerHTML = activity.name;

          var activity_image = document.getElementById("pop_up_image_activity");
          activity_image.src = activity.image;
          activity_image.alt = activity.name;

          var activity_hours = document.getElementById("pop_up_horaris_activity");
          activity_hours.innerHTML = activity.hours;

          var activity_location = document.getElementById("pop_up_localitzacio_activity");
          activity_location.innerHTML = activity.location;

          var activity_price = document.getElementById("pop_up_preu_activity");
          activity_price.innerHTML = activity.price;

          var activity_description = document.getElementById("pop_up_descripcio_activity");
          activity_description.innerHTML = activity.description;

        },

        showPopUpDelayed(activity) {
          closePopUpSlowly();
          
          // Add a delay of 0.3 seconds before displaying the popup
          setTimeout(function() {
            // Get the popup element and display it
            var popup = document.getElementById("popup");
            popup.style.display = "block";
            popup.style.opacity = 1.0;

            var activity_name = document.getElementById("pop_up_activity_name");
            activity_name.innerHTML = activity.name;

            var activity_image = document.getElementById("pop_up_image_activity");
            activity_image.src = activity.image;
            activity_image.alt = activity.name;

            var activity_hours = document.getElementById("pop_up_horaris_activity");
            activity_hours.innerHTML = "Horaris: " + activity.hours;

            var activity_location = document.getElementById("pop_up_localitzacio_activity");
            activity_location.innerHTML = "Localització: " + activity.location;

            var activity_price = document.getElementById("pop_up_preu_activity");
            activity_price.innerHTML = "Preu: " + activity.price;

            var activity_description = document.getElementById("pop_up_descripcio_activity");
            activity_description.innerHTML = "Descripció: " + activity.description;
          },150); // 0.3 seconds delay
          }
      }
  });
  </script>
  <script>
    new Vue({
        el: '#appParis2',
        data: {
          activities: [
              { id: 1, name: 'Arc de Triomf', image: './imagenes/arc_triomf.jpg', days: [], selectedDay: '', onclick: '', description: 'L\'Arc de Triomf és un monument icònic a París que simbolitza la victòria.', hours: 'Obert tots els dies de 10:00 a.m. a 6:30 p.m.', location: 'Place Charles de Gaulle, 75008 París, França.', price: 'Entrada gratuïta.' },
              { id: 2, name: 'Torre Eiffel', image: './imagenes/torre.jpg', days: [], selectedDay: '', onclick: '', description: 'La Torre Eiffel és un dels monuments més famosos del món i un símbol emblemàtic de París.', hours: 'Oberta tots els dies de 9:00 a.m. a 12:00 a.m.', location: 'Champ de Mars, 5 Avenue Anatole France, 75007 París, França.', price: 'Varia segons l\'accés i les activitats.' },
              { id: 3, name: 'Tour per París', image:'./imagenes/tour_paris.jpg', days: [], selectedDay: '', onclick:'', description: 'Descobreix París amb un tour complet que et portarà als llocs més emblemàtics de la ciutat.', hours: 'Obert tots els dies de 9:00 a.m a 19:00 a.m', location: 'Station de baiser entre croissant et baguette.', price: '50 € per persona.' },
              { id: 4, name: 'Esmorzar en casa di Mamma', image:'./imagenes/esmorzar.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiu d\'un deliciós esmorzar francès a Casa di Mamma, un acollidor restaurant al cor de París.', hours: 'Obert tots els dies de 8:00 a.m. a 11:00 a.m.', location: 'Rue de Rivoli, 75001 París, França.', price: '12 € per persona.' },
              { id: 5, name: 'Disneyland París', image:'./imagenes/disneyland.jpg', days: [], selectedDay: '', onclick:'', description: 'Visita el màgic món de Disneyland París i gaudeix d\'atraccions emocionants, espectacles i trobades amb personatges famosos.', hours: 'Obert tots els dies de 10:00 a.m. a 8:00 p.m.', location: 'Boulevard de Parc, 77700 Coupvray, França.', price: 'Varia segons el tipus d\'entrada i el paquet seleccionat.' },
              { id: 6, name: 'El museu de Louvre', image:'./imagenes/louvre.jpg', days: [], selectedDay: '', onclick:'', description: 'Explora les meravelles artístiques i culturals del museu de Louvre, que alberga una de les col·leccions d\'art més importants del món.', hours: 'Obert de 9:00 a.m. a 6:00 p.m.', location: 'Rue de Rivoli, 75001 París, França.', price: '17 € per persona.' },
              { id: 7, name: 'Catedral de Notre-Dame', image:'./imagenes/notre-dame.jpg', days: [], selectedDay: '', onclick:'', description: 'Visita la magnífica catedral de Notre-Dame, un exemple destacat de l\'arquitectura gòtica.', hours: 'Oberta tots els dies de 8:00 a.m. a 6:45 p.m.', location: '6 Parvis Notre-Dame - Pl. Jean-Paul II, 75004 París, França.', price: 'Entrada gratuïta.' },
              { id: 8, name: 'El jardí de Luxembourg', image:'./imagenes/luxembourg_garden.jpg', days: [], selectedDay: '', onclick:'', description: 'Relaxa\'t en aquest bell parc públic, conegut pels seus jardins immaculats, estanys i estàtues.', hours: 'Obert tots els dies de 7:30 a.m. a 9:30 p.m.', location: 'Rue de Médicis, 75006 París, França.', price: 'Entrada gratuïta.' },
              { id: 9, name: "Restaurant L'Ambroisie", image:'./imagenes/ambroisie.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiràs d\'una experiència culinària excepcional en aquest prestigiós restaurant amb tres estrelles Michelin.', hours: 'Obert de dimarts a dissabte de 12:00 p.m. a 2:00 p.m. i de 7:00 p.m. a 10:00 p.m.', location: '9 Place des Vosges, 75004 París, França.', price: 'Varia segons el menú seleccionat.' },
              { id: 10, name: 'Castell de Versalles', image:'./imagenes/versalles.jpg', days: [], selectedDay: '', onclick:'', description: 'Explora la grandiositat del Castell de Versalles, una antiga residència real amb uns jardins impressionants.', hours: 'Obert tots els dies de 9:00 a.m. a 6:30 p.m.', location: 'Place d\'Armes, 78000 Versalles, França.', price: '20 € per persona.' },
              { id: 11, name: 'Llibreria Shakespeare and Company', image:'./imagenes/library.jpg', days: [], selectedDay: '', onclick:'', description: 'Perdeu-vos entre les parets plenes de llibres d\'aquesta icònica llibreria anglesa a París.', hours: 'Oberta tots els dies de 10:00 a.m. a 11:00 p.m.', location: '37 Rue de la Bûcherie, 75005 París, França.', price: 'Entrada gratuïta.' },
              { id: 12, name: 'Fira de Sant Ouen', image:'./imagenes/fira.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudeix de l\'ambient animat i troba tresors únics en aquesta fira de Sant Ouen, el mercat de puces més gran del món.', hours: 'Oberta els dissabtes i diumenges de 9:00 a.m. a 6:00 p.m.', location: 'Avenue de la Porte de Clignancourt, 93400 Sant Ouen, França.', price: 'Entrada gratuïta.' }
  
          ],
            days: [1, 2, 3],
            itinerary: {1:[{ id: 5, name: 'Disneyland París', image:'./imagenes/disneyland.jpg', days: [], selectedDay: '', onclick:'', description: 'Visita el màgic món de Disneyland París i gaudeix d\'atraccions emocionants, espectacles i trobades amb personatges famosos.', hours: 'Obert tots els dies de 10:00 a.m. a 8:00 p.m.', location: 'Boulevard de Parc, 77700 Coupvray, França.', price: 'Preu: Varia segons el tipus d\'entrada i el paquet seleccionat.' }
                ],
                2:[{ id: 5, name: 'Disneyland París', image:'./imagenes/disneyland.jpg', days: [], selectedDay: '', onclick:'', description: 'Visita el màgic món de Disneyland París i gaudeix d\'atraccions emocionants, espectacles i trobades amb personatges famosos.', hours: 'Obert tots els dies de 10:00 a.m. a 8:00 p.m.', location: 'Boulevard de Parc, 77700 Coupvray, França.', price: 'Preu: Varia segons el tipus d\'entrada i el paquet seleccionat.' }
                ],
                3:[{ id: 4, name: 'Esmorzar en casa di Mamma', image:'./imagenes/esmorzar.jpg', days: [], selectedDay: '', onclick:'', description: 'Gaudiu d\'un deliciós esmorzar francès a Casa di Mamma, un acollidor restaurant al cor de París.', hours: 'Obert tots els dies de 8:00 a.m. a 11:00 a.m.', location: 'Rue de Rivoli, 75001 París, França.', price: 'Preu: 12 € per persona.' },
                { id: 1, name: 'Arc de Triomf', image: './imagenes/arc_triomf.jpg', days: [], selectedDay: '', onclick: '', description: 'L\'Arc de Triomf és un monument icònic a París que simbolitza la victòria.', hours: 'Obert tots els dies de 10:00 a.m. a 6:30 p.m.', location: 'Place Charles de Gaulle, 75008 París, França.', price: 'Entrada gratuïta.' },
                { id: 6, name: 'El museu de Louvre', image:'./imagenes/louvre.jpg', days: [], selectedDay: '', onclick:'', description: 'Explora les meravelles artístiques i culturals del museu de Louvre, que alberga una de les col·leccions d\'art més importants del món.', hours: 'Obert de 9:00 a.m. a 6:00 p.m.', location: 'Rue de Rivoli, 75001 París, França.', price: 'Preu: 17 € per persona.' },   
                ]
            }
        },
        methods: {
          updateActivity(activity) {
            if (activity.selectedDay !== '') {
              const day = parseInt(activity.selectedDay);
              if (!this.itinerary[day]) {
                this.$set(this.itinerary, day, [activity]); // Update the itinerary object
                activity.days.push(day);
              } else {
                const index = this.itinerary[day].indexOf(activity);
                if (index === -1) {
                  this.itinerary[day].push(activity);
                  activity.days.push(day);
                }
              }
              activity.selectedDay = '';
            }
          },
          redirectToPage(page) {
            // Redirect to the specified page
            window.location.href = page;
          },


          removeActivity(day, activity) {
            const index = this.itinerary[day].indexOf(activity);
            if (index > -1) {
              this.itinerary[day].splice(index, 1);
              this.$set(this.itinerary, day, this.itinerary[day]); // Update the itinerary object
            }

            const dayIndex = activity.days.indexOf(day);
            if (dayIndex > -1) {
              activity.days.splice(dayIndex, 1);
            }

          
          },
          recuperarItinerari(){
            this.$set(this.itinerary, 1, [this.activities[2],this.activities[9],this.activities[10]]);
            this.$set(this.itinerary, 2, [this.activities[3],this.activities[11]]);
            this.$set(this.itinerary, 3, [this.activities[4]]);
          },
          import_itinerary(){
            storeObject("itinerary", this.itinerary);
            window.location.href = "./activitats_itinerari.html"
          },
          showPopUp(activity) {
            // Get the popup element and display it
            var popup = document.getElementById("popup");
            popup.style.display = "block";

            var activity_name = document.getElementById("pop_up_activity_name");
            activity_name.innerHTML = activity.name;

            var activity_image = document.getElementById("pop_up_image_activity");
            activity_image.src = activity.image;
            activity_image.alt = activity.name;

            var activity_hours = document.getElementById("pop_up_horaris_activity");
            activity_hours.innerHTML = activity.hours;

            var activity_location = document.getElementById("pop_up_localitzacio_activity");
            activity_location.innerHTML = activity.location;

            var activity_price = document.getElementById("pop_up_preu_activity");
            activity_price.innerHTML = activity.price;

            var activity_description = document.getElementById("pop_up_descripcio_activity");
            activity_description.innerHTML = activity.description;

          },

          showPopUpDelayed(activity) {
              closePopUpSlowly();
              
              // Add a delay of 0.3 seconds before displaying the popup
              setTimeout(function() {
                // Get the popup element and display it
                var popup = document.getElementById("popup");
                popup.style.display = "block";
                popup.style.opacity = 1.0;

                var activity_name = document.getElementById("pop_up_activity_name");
                activity_name.innerHTML = activity.name;

                var activity_image = document.getElementById("pop_up_image_activity");
                activity_image.src = activity.image;
                activity_image.alt = activity.name;

                var activity_hours = document.getElementById("pop_up_horaris_activity");
                activity_hours.innerHTML = "Horaris: " + activity.hours;

                var activity_location = document.getElementById("pop_up_localitzacio_activity");
                activity_location.innerHTML = "Localització: " + activity.location;

                var activity_price = document.getElementById("pop_up_preu_activity");
                activity_price.innerHTML = "Preu: " + activity.price;

                var activity_description = document.getElementById("pop_up_descripcio_activity");
                activity_description.innerHTML = "Descripció: " + activity.description;
              },150); // 0.3 seconds delay
          }
          
        }
    });
  </script>
  <script>

    function closePopUp() {
      // Get the popup element and hide it
      var popup = document.getElementById("popup");
      popup.style.display = "none";
    }

    function closePopUpSlowly() {
      var popup = document.getElementById("popup");
      var opacity = 1.0;

      // Set up an interval to gradually reduce the opacity
      var intervalId = setInterval(function() {
        opacity -= 0.2;
        popup.style.opacity = opacity;

        if (opacity <= 0) {
          // When the opacity reaches 0, stop the interval and hide the popup
          clearInterval(intervalId);
          popup.style.display = "none";
          popup.style.opacity = 1.0; // reset the opacity for future use
        }
      }, 10); // 50 milliseconds delay between updates
    }

  </script>

</body>
</html>